
	<div>
		<h1>Productos</h1>
		<div>
			
				<div class="product">
					<h2>bike</h2>
					<h3>$200</h3>
					<p>a bike for riding a bike haha</p>
					<br>
				</div>
			 
				<div class="product">
					<h2>another bike</h2>
					<h3>$200</h3>
					<p>a bike for riding a bike haha</p>
					<br>
				</div>
			 
				<div class="product">
					<h2>another another bike</h2>
					<h3>$200</h3>
					<p>a bike for riding a bike haha</p>
					<br>
				</div>
			
		</div>
	</div>
	