<div id="productsView">
	<h1>PRODUCTOS</h1>
	<div id="productsContainer" style="display: flex;">

	</div>
	<div>
		<a id="prevPage">prev page</a>
		<span id="actualPage">1</span>
		<a id="nextPage">next page</a>
	</div>
	<br />
	<br />
	<h2>Cart ID</h2>
	<span id="cartId">-</span>
	<br />
	<a href="#" id="cartBtn" style="display: none;"><h2>go to cart view</h2></a>
</div>

<script src="js/viewProducts.js"></script>